.td4 {
    font-size: 20px;
    text-align: left;
    color: white;
    margin: 0;
    padding: 0;
}

.td4-registers {
    float: left;
    background-color: #F26419;
}

.td4-registers-header {
}

.td4-registers-items {
    background-color: #F6AE2D;
}

.td4-registers-item {
}

.td4-registers-item-left {
}

.td4-registers-item-left {
}


.td4-rom {
    float: left;
    background-color: #527F9C;
}


.td4-rom-header {
}

.td4-rom-items {
    background-color: #86BBD8;
}

.td4-rom-item {
}

.td4-timing {
    float: left;
    background-color: #7FC29B;
    
}

.td4-timing-header {
}

.td4-timing-buttons {
    background-color: #B5EF8A;
}

.td4-timing-button-clock {
    background-color: #2EB7AF;
    
}

.td4-timing-button-reset {
}
